 body {
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

h1 {
    color: blue;
    margin-bottom: 20px;
}

.qutu {
    background-color: white; 
    text-align: center;
    width: 350px;
    padding: 30px;
    border-radius: 15px;
    border: 2px solid #ccc; 
}

h2 {
    margin-top: 0;
    color: #333;
}

label {
    font-size: 14px;
    color: #444;
}

input {
    width: 85%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}


input:focus {
    border-color: #3498db;
}

button {
    width: 92%;
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.login-duymesi {
    background-color: #5dade2;
    color: white;
    margin-top: 10px;
}


.login-duymesi:hover {
    background-color: #2e86c1;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.or {
    font-size: 14px;
    color: #888;
}

.google-duyme {
    background-color: #ffffff;
    border: 1px solid #ccc;
    color: #555;
}

.google-duyme:hover {
    background-color: #f0f0f0;

}

@media (max-width: 600px) {
    
    .qutu {
        width: 100%;    
        border: none;  
        padding: 20px;
        box-sizing: border-box;
    }

    body {
        background-color: lightblue; 
    }
    
}

